* {
  margin: 0;
  padding: 0;
  font-family: Arial;
}

html,
body {
  scroll-behavior: smooth;
  height: 100vh;
  width: 100%;
}

nav {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 10;
}

nav img {
  width: 6rem;
  padding-left: 0.5rem;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  padding: 1rem;
}

nav ul li a {
  text-decoration: none;
  color: red; 
  font-weight: bold;
  font-size: 1.2rem;
  transition: 0.5s;
}

nav ul li a:hover {
  color: black; 
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: red; 
  padding: 3rem 2rem 2rem 2rem;

}

header article h1 {
  color: #fff;
  font-size: 3rem;
  padding: 0 4rem 2rem 4rem;
}

p {
  color: black;
  font-weight: bold;
  font-style: italic;
}

section#sessao1 {
  background-color: white;
  padding: 3rem;
  display: flex;
  justify-content: center;
}

section#sessao1 section.card {
  background-color:  grey;  
  padding: 3rem;
  border-radius: 1.5rem;
  display: flex;
  justify-content: space-around;
  width: 50%;
  position: relative;
}

article#title {
  width: 50%;
}

article#title h2 {
  padding: 1.5rem;
}

article#content h3 {
  font-size: 1.5rem;
  padding: 3rem 3rem 1rem 3rem;
}

article#content ul {
  list-style: none;
}

article#content ul li {
  padding: 1rem 1rem 1rem 3rem;
  font-size: 1.2rem;
}

section#message {
    padding: 1.5rem;
    background-color: rgb(197, 255, 214);
    color: #004d04;
    position: fixed;
    top: 3rem;
    left: 0;
    right: 0;
    z-index: 100;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  span#close {
    font-size: 2rem;
    cursor: pointer;
    transition: .3s;
  }
  
  span#close:hover{
    color: rgb(255, 0, 0);
    transform: scale(1.5);
  }

  section#cadastrar {
    padding: 3rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
   
  section#cadastrar form {
    width: 50%;
  }
  
  section#cadastrar form div input {
    width: 100%;
    padding: 1rem;
    font-size: 1 rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    outline:auto;
    border: none;
  }
  
  section#cadastrar form div label {
    font-size: 1 rem;
    color: red;
  }
  
  section#cadastrar form button {
    border: 1px solid red;
    background-color: #fff;
    color: red;
    padding: 1rem;
    font-size: 0.8vw;
    font-weight: 600;
    border-radius: 0.5rem;
    display: block;
    margin: auto;
    margin-top: 2rem;
    cursor: pointer;
    transition: 0.3s ease-out;
    width: 40%;
  }
  
  section#cadastrar form button:hover {
    background-color: red;
    color: #fff;
    transform: scale(1.1);
  }

  footer {
    padding: 3rem;
    text-align: center;
  }
  
  footer p {
    font-size: 1.2rem;
    font-weight: bold;
    color: red;
  }
  
  footer p a {
    text-decoration: none;
    color: #3359ec;
    transition: 0.5s;
  }
  
  footer p a:hover {
    color: rgb(255, 68, 230);
  }
